[submodule "hw2_rottenpotatoes"]
	path = hw2_rottenpotatoes
	url = git@heroku.com:hollow-flower-9603.git
[submodule "hw3_rottenpotatoes"]
	path = hw3_rottenpotatoes
	url = https://github.com/saasbook/hw3_rottenpotatoes.git
[submodule "hw4_rottenpotatoes"]
	path = hw4_rottenpotatoes
	url = https://github.com/saasbook/hw4_rottenpotatoes.git
